In [0]:
from pyspark.sql.functions import col, lit, when, concat_ws

data=[("vikky",23,50000),("sam",21,40000),("hema",22,35000)]
df=spark.createDataFrame(data,['name','age','salary'])
#display(df)

#select_df=df.select("name").show()
#remove_df=df.drop("age").show()
#with_col_df=df.withColumn("bonus",col("salary")*0.1).show()
#rename_df=df.withColumnRenamed("salary","new_salary").show()
#filtered_df=df.filter(col("salary")>37000).show()
#sorted_df=df.sort("name").show()
#concat_df=df.withColumn("name",concat_ws("_",col("name"),lit("kumar"))).show()